# cd ; pwd ; , export HOME=
/Users/yuki/Documents/42cursus/minishell_shared/tests/output/diff_stdout
### bash result: 
> /Users/yuki
### minishell result: 
> /Users/yuki
> /Users/yuki

---
