# ./minishell
/Users/yuki/Documents/42cursus/minishell_shared/tests/output/diff_stdout
### bash result: 
### minishell result: 

---
# minishell
/Users/yuki/Documents/42cursus/minishell_shared/tests/output/diff_stderr
### bash result: 
> minishell: minishell: command not found
### minishell result: 

---
# minishell
/Users/yuki/Documents/42cursus/minishell_shared/tests/output/diff_exit_status
### bash result: 
> 127
### minishell result: 
> 0

---
