# ./minishell
/Users/yuki/Documents/42cursus/minishell_shared/tests/output/diff_stdout
### bash result: 
### minishell result: 

---
