# unset /Users/yuki
/Users/yuki/Documents/42cursus/minishell_shared/tests/output/diff_stderr
### bash result: 
> minishell: unset: `/Users/yuki': not a valid identifier
### minishell result: 

---
# unset /Users/yuki
/Users/yuki/Documents/42cursus/minishell_shared/tests/output/diff_exit_status
### bash result: 
> 1
### minishell result: 
> 0

---
